@charset "UTF-8";

/**************************** 
    공통
 ****************************/

body{
    &.mo{
        min-width:auto;
        max-width: 95rem;
        margin:0 auto;
    }
}
#wrap{
    @include wrapper;
    line-height:1.5;
    padding: 2rem;
}
.guide_m{
    max-width:95rem;
    margin: 0 auto;
    padding: 0 0 10rem;

    h1{
        font: {
            size:2.5rem;
            family: $font-NanumSquare;
            weight: bold;
        }
        padding-bottom: 2rem;
        text-transform: uppercase;
    }
    h2{
        margin-bottom: 1rem;
        text-transform: uppercase;
        font: {
            size:1.6rem;
            family: $font-NanumSquare;
        }
    }
    input[type=text], input[type=password], input[type=tel]{
        width:100%;
        height:4rem;
        line-height:4rem;
        border-bottom:1px solid #ddd;
        display: block;
        font-weight:bold;
        box-sizing: border-box;
    }
    input[type=radio]{
        position: absolute;
        top:0;
        left:0;
        opacity: 0;
        box-sizing: border-box;

        &+label{
            position: relative;
            padding-left: 2.5rem;
            margin-top: 1.5rem;

            &::before{
                content:'';
                width:2rem;
                height:2rem;
                background:url(../images/cheked01_off.png)no-repeat center left;
                background-size:2rem;
                position: absolute;
                top:0;
                left:0;
            }
        }
        &:checked{
            &+label{
                &::before{
                    background:url(../images/cheked01_on.png)no-repeat center left;
                    background-size:2rem;
                }
            }
        }
    }
    ::placeholder{
        color:#c6c6c6;
        font: {
            size:1.4rem;
            family: $font-NanumSquare;
        }
    }
}

/* 버튼 */
.btnm{
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    box-sizing: border-box;
    height: 4.5rem;
    line-height: 4.5rem;
    display: block;
    padding: 0 1rem;
    width:100%;
    vertical-align: top;
    text-decoration: none;
    cursor:pointer;
    background:#eee;
    color:#24263a;
    border-radius: 0.4rem;
    
    font: {
        size:1.4rem;
        family: $font-NanumSquare;
        weight:bold;
    }

    &.type01{
        background:#24263a;
        color:#fff;
    }
    &.type02{
        border:1px solid #fb802d;
        background:#fff;
        color:#fb802d;
        width: 100%;
    }
    &.type03{
        border:1px solid #ccc;
        background:#fff;
        color:#222;
        width: 7rem;
        height: 3.2rem;
        line-height: 3.2rem;
        font-size: 1.2rem;
    }
    &.type04{
        background:#ddd;
        color:#fff;
    }

    &.disabled, &:disabled{
        opacity: .5;
    }
}

.btnm_wrap{
    display: block;
    margin-top: 1rem;

    &.line2{
        display: flex;
        justify-content: space-between;
        a, button{
            width: 49%;
        }
    }
}

/* 탭 */
.tabm_wrap{
    li{
        display: inline-block;

        a{
            min-width: 9.9rem;
            display: block;
            border:1px solid #ddd;
            color:#191919;
            height:3.2rem;
            line-height: 3.2rem;
            border-radius: 2rem;
            text-align: center;
            font-weight:bold;
        }
        &.on{
            a{
                border-color:#fb802d;
                color:#fb802d;
            }
        }
    }
}

.tag_wrap{
    li{
        display: inline-block;

        a{
            display: block;
            min-width: 6.5rem;
            height:4rem;
            line-height: 4rem;
            text-align: center;
            border-radius: 2rem;
            background:#f8f8f8;
            color:#888;
            border:0;
        }
        &.on{
            a{
                border-color:#383b5a;
                background:#383b5a;
                color:#fff;
            }
        }
    }
}

.menu_tabm{
    max-width: 40rem;
    display: flex;
    flex-wrap:wrap;
    border-top: 1px solid #aaa;
    border-left:1px solid #aaa;
    box-sizing: border-box;

    li{
        width:33.33%;
        box-sizing: border-box;
        position: relative;

        a{
            text-align: center;
            border-bottom:1px solid #aaa;
            border-right:1px solid #aaa;
            height:4rem;
            line-height: 4rem;
            display: block;
            box-sizing: border-box;
            color:#6e6e6e;
        }
        &.on{
            a{
                font-weight:bold;
                &::after{
                    content:'';
                    width: 100%;
                    height:2px;
                    background:#222;
                    position: absolute;
                    bottom: 0;
                    left:0;
                }
            }
        }
    }
}

/* 보드 */
.summary_txt{
    background:#f8f8f8;
    border-radius: 1rem;
    padding: 2rem;
    color:#666;

    font: {
        size:1.4rem;
        family: $font-NanumSquare;
    }

    strong{
        display: block;
        padding-bottom: 0.7rem;
        color:#222;
    }
}

/* 배너 */
.banner_wrap{
    li{
        a{
            display: block;
            border-radius: 0.8rem;
            padding:2.6rem 0 2.6rem 2.4rem;
            font-weight: bold;

            &.bnr_bg01{
                background:#f1f3f5 url(../images/bg_01.png)no-repeat center right;
                background-size:contain;
            }
            &.bnr_bg02{
                background:#f1f3f5 url(../images/bg_02.png)no-repeat center right;
                background-size:contain;
            }
            &.bnr_bg03{
                background:#f1f3f5 url(../images/bg_03.png)no-repeat center right;
                background-size:contain;
            }
        }
        &+li{margin-top: 1rem;}
    }
}

/* 리스트 */
.list_wrap{
    li{
        border-bottom: 1px solid #aaa;
        margin-bottom:2rem;

        p{
            font-weight:bold;
        }
        span{
            display: block;
            font-weight:400;
            padding-bottom:2rem;
        }
        &:last-child{
            border-bottom:0;
        }
        
        .list_content{
            padding: 3rem 2rem;
            background:#f8f8f8;
            p{
                font-weight:400;
            }
        }
    }
}
.list_info{
    color: #666;
    padding-bottom: 1rem
}
.tablem_box{
    border:1px solid #e0e0e0;
    padding:1.5rem 3rem;
    border-radius: 0.4rem;

    .tablem_style{
        width: 100%;
        th{
            text-align: left;
            width:10rem;
            padding: 0.5rem 0 0;
            line-height: 4rem;
            vertical-align: top;

            em{
                color: #f05d2b;
            }
        }
        td{
            width: auto;
            padding: 0.5rem 0 0 1rem;

            span{
                display: block;
                position: relative;

                button{
                    position: absolute;
                    top:0;
                    right:0;
                }
                input[type=text]{
                    padding-right:8rem;
                }
            }
            p{
                border-bottom: 1px solid #ddd;
                line-height: 4rem;
            }
        }
    }
    .btnm_wrap{
        text-align: center;
        margin-top: 3rem;
        button{
            color:#c6c6c6;
            background:url(../images/more_btn.png)no-repeat center right;
            background-size:0.9rem 0.5rem;
            padding-right:1.5rem;
            cursor:pointer;
            font: {
                size:1.2rem;
                family: $font-NanumSquare;
            }
        }
    }

    &+.tablem_box{
        margin-top: 1rem;
    }
}

/* 폼 */
.formm_type{
    ul{
        @include clearfix;
        li{
            margin-bottom:3.2rem;

            label, .tit{
                display: block;
                color:#222;
                margin-bottom: 1rem;
                font: {
                    size:1.4rem;
                    family: $font-NanumSquare;
                    weight:bold;
                }
                em{
                    color:#f05d2b;
                }
            }
            .txt_info{
                color:#f05d2b;
                display: block;
                padding-top: 0.7rem;
                font: {
                    size:1.2rem;
                    family: $font-NanumSquare;
                }
            }

            &.column02{
                display: flex;
                justify-content: space-between;
                div{
                    width:50%;
                    &+div{
                        padding-left: 2rem;
                    }
                }
            }
            span{
                position: relative;
                display: inline-block;
                &+span{
                    margin-left: 2rem;
                }
            }
        }
    }
    .btnm_wrap{
        padding-top: 0.8rem;
    }
    .unit_txt{
        text-align: center;
        padding-top: 2.5rem;

        span{
            a{
                border-bottom:1px solid #222;
                font: {
                    size:1.3rem;
                    family: $font-NanumSquare;
                }
            }
            &+span{
                margin-left: 2rem;
            }
        }
    }
    .tel_wrap{
        display: flex;
        margin-top: 2rem;
        li{
            width:25%;
            text-align: center;
            &+li{
                padding-left: 1rem;
            }
            button{
                border:1px solid #ddd;
                border-radius: 0.2rem;
                height:4rem;
                width:100%;
                cursor:pointer;
            }
            &.on{
                button{
                    border:1px solid #24263a;
                    background:#24263a;
                    color:#fff;
                }
            }
        }
    }
    .addline_wrap{
        display: block;
        position: relative;

        input[type=text]{
            padding-right: 17rem;
        }

        button{
            position: absolute;
            top:0;
            right:0;
        }
        em{
            position: absolute;
            top:0.7rem;
            right:10rem;   
        }
    }
}